@import './base.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}




 body {  
  background: linear-gradient(45deg, transparent 49%, #275073 49% 51%, transparent 51%) , linear-gradient(-45deg, transparent 49%, #275073 49% 51%, transparent 51%);
  background-size: 3em 3em;
  background-color: #0D0D0d;
  opacity: 1;
  background-attachment: fixed;
}

.bg-nav {
  
  background-color: #27507373 ;
  backdrop-filter: blur(5px);
  box-shadow: 2px 7px 15px #000000;
  text-shadow: 2px 2px 10px #0d0d0d;  
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slider {
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
  position: relative;
}

.slider:hover .slide-track {
  animation-play-state: paused;
}


.slider .slide-track {
  display: inline-block;
  animation: slide 20s infinite linear;
}

.slider .slide-track img{
 height: 50px;
 margin: 0 40px;
 filter: drop-shadow(10px 5px 4px #75b8bf);
}

@keyframes grow-brand {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}

.slider .slide-track img:hover{
  animation: grow-brand 1.8s infinite linear;
 }

.slider .slide-title {
  text-align: center;
  font-size: 3em;
  margin-bottom: 50px;
  color: #f2f2f2;
  text-shadow: 2px 2px 10px #0d0d0d;
}